<div class="inner">
  <div class="clearfix">  
    <h1 class="pull-left">All Statuses</h1>
    <%= link_to 'New Status', new_status_path, class: "btn btn-success pull-right" %>
  </div>


<% @statuses.each do |status| %>
  <div class="status_container">  
    <strong><%= status.name %></strong>
    <p><%= status.content %></p>
    <%= link_to "Last Updated " + time_ago_in_words(status.updated_at) + " ago", status %>
    <div class="admin"> | 
      <%= link_to 'Edit', edit_status_path(status) %> | 
      <%= link_to 'Delete', status, method: :delete, data: { confirm: "Are you sure you want to delete this status?" } %>
    </div>
  </div>
<% end %>
</div>